<!doctype html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>文章详情</title>
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
        <link href="http://cdn.myline.cc/nanqi/weui/0.4.3/weui.min.css" rel="stylesheet" type="text/css"/>
        <link href="../../css/moding/detailReview.less?1" rel="stylesheet"/>
        <link rel="stylesheet" type="text/css" href="../../lib/dropload.css">
    </head>
    <body>
        <div class="wrap">
            <div class="hd">
                <h2 class="page_title">金庸小说中最匪夷所思的一段</h2>
                <a class="weui_btn weui_btn_plain_primary btn_100" onclick="bll.openDetail(6000)">查看详情</a>
                <a class="weui_btn weui_btn_plain_primary btn_100" onclick="bll.openEdit()">编辑文章</a>
            </div>
            <div class="bd">
                <div class="weui_panel weui_panel_access">
                    <div class="weui_panel_hd">谁看过我</div>
                    <div class="container">
                        <div class="weui_panel_bd">
                            <a href="javascript:void(0);" class="weui_media_box weui_media_appmsg" onclick="bll.openRoom(19)">
                                <div class="weui_media_hd">
                                    <img class="weui_media_appmsg_thumb" src="http://avatar.my2space.com/MBIR8zBjBfzaKAuFPjicd7cXgUyMO83RL0s95QCpn8jB0QCRS4ektLJR3pzMdCJgjFafFPC8yohVlBDSfSwV0WxIzPR94jxn2/0" alt="">
                                </div>
                                <div class="weui_media_bd">
                                    <h4 class="weui_media_title">老陈茶</h4>
                                    <p class="weui_media_desc">由各种物质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己的运行轨道。</p>
                                </div>
                            </a>
                            <a href="javascript:void(0);" class="weui_media_box weui_media_appmsg" onclick="bll.openRroom(19)">
                                <div class="weui_media_hd">
                                    <img class="weui_media_appmsg_thumb" src="http://avatar.my2space.com/MBIR8zBjBfzaKAuFPjicd7cXgUyMO83RL0s95QCpn8jB0QCRS4ektLJR3pzMdCJgjFafFPC8yohVlBDSfSwV0WxIzPR94jxn2/0" alt="">
                                </div>
                                <div class="weui_media_bd">
                                    <h4 class="weui_media_title">老陈茶</h4>
                                    <p class="weui_media_desc">由各种物质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己的运行轨道。</p>
                                </div>
                            </a>
                            <a href="javascript:void(0);" class="weui_media_box weui_media_appmsg" onclick="bll.openRroom(19)">
                                <div class="weui_media_hd">
                                    <img class="weui_media_appmsg_thumb" src="http://avatar.my2space.com/MBIR8zBjBfzaKAuFPjicd7cXgUyMO83RL0s95QCpn8jB0QCRS4ektLJR3pzMdCJgjFafFPC8yohVlBDSfSwV0WxIzPR94jxn2/0" alt="">
                                </div>
                                <div class="weui_media_bd">
                                    <h4 class="weui_media_title">老陈茶</h4>
                                    <p class="weui_media_desc">由各种物质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己的运行轨道。</p>
                                </div>
                            </a>
                            <a href="javascript:void(0);" class="weui_media_box weui_media_appmsg" onclick="bll.openRroom(19)">
                                <div class="weui_media_hd">
                                    <img class="weui_media_appmsg_thumb" src="http://avatar.my2space.com/MBIR8zBjBfzaKAuFPjicd7cXgUyMO83RL0s95QCpn8jB0QCRS4ektLJR3pzMdCJgjFafFPC8yohVlBDSfSwV0WxIzPR94jxn2/0" alt="">
                                </div>
                                <div class="weui_media_bd">
                                    <h4 class="weui_media_title">老陈茶</h4>
                                    <p class="weui_media_desc">由各种物质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己的运行轨道。</p>
                                </div>
                            </a>
                            <a href="javascript:void(0);" class="weui_media_box weui_media_appmsg" onclick="bll.openRroom(19)">
                                <div class="weui_media_hd">
                                    <img class="weui_media_appmsg_thumb" src="http://avatar.my2space.com/MBIR8zBjBfzaKAuFPjicd7cXgUyMO83RL0s95QCpn8jB0QCRS4ektLJR3pzMdCJgjFafFPC8yohVlBDSfSwV0WxIzPR94jxn2/0" alt="">
                                </div>
                                <div class="weui_media_bd">
                                    <h4 class="weui_media_title">老陈茶</h4>
                                    <p class="weui_media_desc">由各种物质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己的运行轨道。</p>
                                </div>
                            </a>
                        </div>
                    </div>
                    <a class="weui_panel_ft" href="javascript:void(0);">查看更多</a>
                </div>
            </div>
        </div>

        <script src="http://cdn.myline.cc//nanqi/zepto/1.0/zepto.min.js"></script>
        <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
        <script src="../../js/moding/detailReview.es?1"></script>
        <script src="../../lib/dropload.min.js"></script>
        <script>
         wx.config({
             debug: false,
             appId: '{$package["appid"]}',
             nonceStr: '{$package["nonceStr"]}',
             signature: '{$package["signature"]}',
             jsApiList: [
                 'hideOptionMenu',
                 'showOptionMenu',
                 'hideMenuItems',
                 'onMenuShareTimeline',
                 'onMenuShareAppMessage',
                 'onMenuShareQQ',
                 'onMenuShareWeibo',
                 'onMenuShareQZone',
                 'closeWindow',
                 'showMenuItems',
                 'chooseImage',
                 'uploadImage',
                 'previewImage'
             ]
         });
        </script>

        <script>
         // .container 设置了 overflow 属性, 导致 Android 手机下输入框获取焦点时, 输入法挡住输入框的 bug
         // 相关 issue: https://github.com/weui/weui/issues/15
         // 解决方法:
         // 0. .container 去掉 overflow 属性, 但此 demo 下会引发别的问题
         // 1. 参考 http://stackoverflow.com/questions/23757345/android-does-not-correctly-scroll-on-input-focus-if-not-body-element
         //    Android 手机下, input 或 textarea 元素聚焦时, 主动滚一把
         if (/Android/gi.test(navigator.userAgent)) {
             window.addEventListener('resize', function () {
                 if (document.activeElement.tagName == 'INPUT' || document.activeElement.tagName == 'TEXTAREA') {
                     window.setTimeout(function () {
                         document.activeElement.scrollIntoViewIfNeeded();
                     }, 0);
                 }
             })
         }
        </script>
    </body>
</html>
