<div class="weui_dialog_alert pick-resource-dialog" id="pick-resource-dialog" style="display: none;">
    <div class="weui_mask"></div>
    <div class="weui_dialog">
        <div class="weui_dialog_hd">
            <a onclick="bll.closeDialog()" class="dh_cancel" href="javascript:;"><i></i></a>
            <a onclick="bll.applyPick()" class="dh_confirm" href="javascript:;" ><i></i></a>
            <p class="weui_dialog_title">选择空间素材</p>
        </div>
        <div class="weui_dialog_bd" style="overflow: hidden;">
            <ul id="thumbnails" class="thumbnails image_picker_selector">
                <p>正在加载空间素材……</p>
            </ul>
            <div class="apply">
                <div class="img_l"><img src="/Src/Space/images/left.gif" /></div>
                <div class="apply_nav">
                  <div class="apply_w">
                    <div class="apply_array">
                      <div class="apply_img"><img src="/Src/Space/images/sinavivi.gif" /></div>
                    </div>
                    <div class="apply_array">
                      <div class="apply_img"><img src="/Src/Space/images/kaixin001.gif" /></div>
                    </div>
                    <div class="apply_array">
                      <div class="apply_img"><img src="/Src/Space/images/renren.gif" /></div>
                    </div>
                    <div class="apply_array">
                      <div class="apply_img"><img src="/Src/Space/images/baiducang.gif" /></div>
                    </div>
                    <div class="apply_array">
                      <div class="apply_img"><img src="/Src/Space/images/qq.gif" /></div>
                    </div>
                    <div class="apply_array">
                      <div class="apply_img"><img src="/Src/Space/images/qqshuqian.gif" /></div>
                    </div>
                    <div class="apply_array">
                      <div class="apply_img"><img src="/Src/Space/images/qqzone.gif" /></div>
                    </div>
                    <div class="apply_array">
                      <div class="apply_img"><img src="/Src/Space/images/sinavivi.gif" /></div>
                    </div>
                    <div class="apply_array">
                      <div class="apply_img"><img src="/Src/Space/images/sohubai.gif" /></div>
                    </div>
                    <div class="apply_array">
                      <div class="apply_img"><img src="/Src/Space/images/douban.gif" /></div>
                    </div>
                    <div class="apply_array">
                      <div class="apply_img"><img src="/Src/Space/images/zhuaxia.gif" /></div>
                    </div>
                    <div class="apply_array">
                      <div class="apply_img"><img src="/Src/Space/images/gmail.gif" /></div>
                    </div>
                    <div class="apply_array">
                      <div class="apply_img"><img src="/Src/Space/images/delicious.gif" /></div>
                    </div>
                  </div>
                </div>
                <div class="img_r"><img src="/Src/Space/images/right.gif" /></div>
            </div>
        </div>
        <div class="weui_dialog_ft">
            <a href="javascript:;" class="weui_btn_dialog default">上一页</a>
            <a href="javascript:;" class="weui_btn_dialog primary">下一页</a>
        </div>
    </div>
</div>
