<div class="weui_dialog_alert pick-resource-dialog" id="pick-resource-dialog" style="display: none;">
    <div class="weui_mask"></div>
    <div class="weui_dialog">
        <div class="weui_dialog_hd">
            <a onclick="bll.closeDialog()" class="dh_cancel" href="javascript:;"><i></i></a>
            <a onclick="bll.applyPick()" class="dh_confirm" href="javascript:;" ><i></i></a>
            <p class="weui_dialog_title">选择空间素材</p>
        </div>
        <div class="weui_dialog_bd">
            <ul id="thumbnails" class="thumbnails image_picker_selector">
                <p>正在加载空间素材……</p>
            </ul>
        </div>
    </div>
</div>

<script>

</script>
