<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>支付密码</title>
		<link href="../../libs/mui/css/mui.css" rel="stylesheet" />
		<link href="../../styles/common/base.css" rel="stylesheet" />
		<link href="../../styles/common/layout.css" rel="stylesheet" />
		<script src="../../libs/mui/js/mui.js"></script>
		<script src="../../libs/seajs/sea.js"></script>
		<script src="../../libs/seajs/seajs-css.js"></script>
		<script src="../../libs/seajs/seajs-text.js"></script>
	</head>

	<body>
		<div class="mui-content" v-show="loadReady" v-cloak>
			<div id="payPassword_page" class="mui-views">
				<div class="mui-view">
					<div class="mui-pages">
					</div>
				</div>
			</div>

			<div id="verify_div" class="mui-page">
				<verify :tips="verify_tips_1" :tips2="verify_tips_2"></verify>
			</div>

			<div id="identify_div" class="mui-page">
				<div class="back_div mui-action-back mui-icon-left-nav"></div>
				<div class="logo_div middle-span center-span col">
					<span>{{identify_tips_1}}</span>
					<span>{{identify_tips_2}}</span>
				</div>
				<div class="certify_div">
					<div class="user_info_detail">
						<div v-if="mode==1" class="mui-input-row input_text">
							<label>绑定姓名</label>
							<input type="text" v-model="realname" disabled>
						</div>
						<div class="mui-input-row input_text">
							<label>姓名</label>
							<input type="text" v-model="username" placeholder="请输入真实姓名" maxlength="10">
						</div>
						<div class="mui-input-row input_text last_child">
							<label>身份证</label>
							<input type="text" v-model="idCard" placeholder="请输入真实身份证号" @input="verify_idCard">
						</div>
					</div>
				</div>
				<div class="next_btn_div">
					<button id="next_btn" @tap="next_page">{{content || "下一步"}}</button>
				</div>
			</div>

			<div id="setPassword_div" class="mui-page" style="overflow: hidden;">
				<div class="back_div mui-action-back mui-icon-left-nav"></div>
				<div class="logo_div middle-span center-span col">
					<span>{{setPassword_tips_1}}</span>
					<span>{{setPassword_tips_2}}</span>
				</div>
				<div class="password_field col center-span middle-span">
					<div id="pay_msg1" class="fs1" style="padding-bottom: 20px;color: #5a5a5a;">请输入6位数字支付密码</div>
					<div class="password_div">
						<div class="single_div"><b>●</b></div>
						<div class="single_div"><b>●</b></div>
						<div class="single_div"><b>●</b></div>
						<div class="single_div"><b>●</b></div>
						<div class="single_div"><b>●</b></div>
						<div class="single_div"><b>●</b></div>
					</div>
					<input id="password_1" type="number" v-model="password_1" :disabled="disabled_1" class="hidden_password" @input="password_input_1" @tap="password_tap_1" @blur="password_blur_1">
				</div>

				<div class="password_field col center-span middle-span">
					<div id="pay_msg2" class="fs1" style="padding-bottom: 20px;color: #5a5a5a;">请再次输入6位数字支付密码</div>
					<div class="password_div">
						<div class="re_single_div"><b>●</b></div>
						<div class="re_single_div"><b>●</b></div>
						<div class="re_single_div"><b>●</b></div>
						<div class="re_single_div"><b>●</b></div>
						<div class="re_single_div"><b>●</b></div>
						<div class="re_single_div"><b>●</b></div>
					</div>
					<input id="password_2" type="number" v-model="password_2" :disabled="disabled_2" class="hidden_password" @input="password_input_2" @tap="password_tap_2" @blur="password_blur_2">
				</div>
			</div>
		</div>
		<script type="text/javascript" charset="utf-8">
			seajs.config({
				base: "../../",
				paths: {
					"libs": "libs",
					"config": "modules/config",
					"controller": "modules/controller",
					"util": "modules/util",
					"control": "controls",
					"style": "styles"
				},
				alias: {
					"css": "style/user/payPassword.css", //样式文件需要包含css后缀
					"app": "controller/user/payPassword"
				}
			}).use(["css", "app"]);
		</script>
	</body>

</html>