<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>密码输入框</title>
		<link href="./css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="./css/style.css">
		<!-- <link href="../../styles/common/base.css" rel="stylesheet" /> -->
		<!-- <link href="../../styles/common/layout.css" rel="stylesheet" /> -->
		<script src="./js/mui.min.js"></script>
		<!-- <script src="../../libs/seajs/sea.js"></script>
		<script src="../../libs/seajs/seajs-css.js"></script>
		<script src="../../libs/seajs/seajs-text.js"></script> -->
	</head>

	<body>
		<div class="mui-content" style="background-color: transparent;padding:5%;margin-top: 50px;" v-cloak>
			<!--页面主体内容-->
			<div class="title_bar">
				<button style="margin-top: 10px;opacity: .5;" class="cancel_btn" @tap="cancel"></button>
				<div id="title_info">表单验证</div>
			</div>
			<div style="padding-bottom: 10px;height:120px;position: relative;background-color: white;border-radius: 0 0 5px 5px;" class="col center-span middle-span" :class="{'hasMsg':message!=''}">
				<div class="fs1" v-if="message!=''" style="padding-bottom: 20px;color: #5a5a5a;height: 58px;font-size: 14px;">{{{message}}}</div>
				<div id="password_div">
					<div class="single_div"><b>●</b></div>
					<div class="single_div"><b>●</b></div>
					<div class="single_div"><b>●</b></div>
					<div class="single_div"><b>●</b></div>
					<div class="single_div"><b>●</b></div>
					<div class="single_div"><b>●</b></div>
				</div>
				<input type="hidden" id="password" />
				<div id="forget" class="fs1" v-if="forget" @tap="forget_tap" style="text-align: right;width: 242px;padding-top: 10px;color: #b0b0b0;">忘记支付密码</div>
			</div>
		</div>
		<div style="display: block;" class="keyboard">
			<ul class="key">
				<li @tap="keyboard_tap">1</li>
				<li @tap="keyboard_tap">2</li>
				<li @tap="keyboard_tap">3</li>
				<li @tap="keyboard_tap">4</li>
				<li @tap="keyboard_tap">5</li>
				<li @tap="keyboard_tap">6</li>
				<li @tap="keyboard_tap">7</li>
				<li @tap="keyboard_tap">8</li>
				<li @tap="keyboard_tap">9</li>
				<li style="background-color: #D5D8DB;"></li>
				<li @tap="keyboard_tap">0</li>
				<li @tap="delete_tap" style="background-color: #D5D8DB;">
					<svg style="width: 2em;" id="提现-2-输入密码" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 75 30"><defs><style>.cls-1,.cls-3{fill:#212121;}.cls-2{fill:#fff;}.cls-2,.cls-3{fill-rule:evenodd;}</style></defs><title>3-支付密码框</title><g id="删除"><g id="矩形_1" data-name="矩形 1"><rect class="cls-1" x="15" width="60" height="30" rx="5" ry="5"/></g><g id="矩形_2" data-name="矩形 2"><polygon class="cls-2" points="38.17 6.25 35.99 8.4 51.83 24.01 54.01 21.86 38.17 6.25"/></g><g id="矩形_2_拷贝" data-name="矩形 2 拷贝"><polygon class="cls-2" points="51.73 5.99 36.11 21.39 38.27 23.51 53.89 8.12 51.73 5.99"/></g><g id="多边形_1" data-name="多边形 1"><polygon class="cls-3" points="0 14.99 18 29.98 18 0 0 14.99"/></g></g></svg>
				</li>
			</ul>
		</div>

		<script src="./js/main.js"></script>
		<!-- <script type="text/javascript" charset="utf-8">
			seajs.config({
				base: "../../",
				paths: {
					"libs": "libs",
					"config": "modules/config",
					"controller": "modules/controller",
					"util": "modules/util",
					"control": "controls",
					"style": "styles",
				},
				alias: {
					"css": "control/password/style.css",
					"app": "control/password/main"
				}
			}).use(["css", "app"]);
		</script> -->
	</body>
</html>